<!DOCTYPE html>
{% load staticfiles %}
{% load leaflet_tags %}


<html>       
<head>             
	{% leaflet_js %}
	{% leaflet_css %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<style type="text/css">
		.leaflet-container {  /* all maps */
		        width:  700px;
		        height: 600px;
		    }

		 #specialbigmap {
		        height: 800px;
		    }
	</style>
</head>       
<body>        
	{% leaflet_map "main" callback="main_map_init" %}  
	<script type="text/javascript">
        function main_map_init (map,opacity=0.5) {
        	map.setView([49.195167, 16.609240], 13)
        	{% for p in points %}
        		L.marker([{{p.geom.x}}, {{p.geom.y}}]).addTo(map)
        		.bindPopup('{{p.id}}');
        	{% endfor %}


        	{% for line in lines %}
        			var pointList =[];
        			{% for coor in line %}
        				var co =[];
        				{% for i in coor %}
			        		co.push({{i}});
						{% endfor %}
						var point = new L.LatLng(co[0],co[1]);
						pointList.push(point);
					{% endfor %}
					var li{{forloop.counter}} = new L.Polyline(pointList, {
					color: 'blue',
					weight: 4,
					opacity: 0.6,
					smoothFactor: 1
					}).addTo(map).bindPopup('pokus');

			{% endfor %}        	
        	      	
        	
		}
		        
    </script>    
    <p></p>  
</body>
 
 </html>