<html>
<head>
    <title>OpenLayers Example</title>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
</head>

<body>

<div style="width:100%; height:50%" id="map"></div>

<div>{control xmlForm}</div>

<script defer="defer" type="text/javascript" n:syntax="off">
    var map = L.map('map').setView([49.396599287069, 16.710938821824893], 18);

    L.tileLayer('http://{s}.tiles.mapbox.com/v3/sarasafavi.hjegnofh/{z}/{x}/{y}.png', {
        attribution: 'Map data',
        maxZoom: 18
    }).addTo(map);

</script>


<script>

    var pointList = new Array();
    {if isset($reader)}
    {foreach $reader as $point}
    {if $point instanceof  Jednoadem\Communications\Point}
    pointList.push(new L.LatLng({$point->getLatitude()}, {$point->getLongitude()}));
    {/if}
    {/foreach}
    var firstpolyline = new L.Polyline(pointList, {
        color: 'red',
        weight: 3,
        opacity: 0.5,
        smoothFactor: 1

    });
    firstpolyline.addTo(map);

    {/if}

</script>
</body>
</html>